*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}
.options-cont{
    height: 4rem;
    width: 4rem;
    background-color: rgb(192, 224, 235);
    position: absolute;
    top: 1rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius:50%;
    font-size:1.25rem;
    box-shadow: rgba(9, 89, 236, 0.35) 0px 5px 15px;
}

.tools-cont{
    display: flex;
    height:4rem;
    width:60vw;
    background-color: rgb(192, 224, 235);
    justify-content: space-around;
    position: absolute;
    top: 1rem;
    left: 20vw;
    box-shadow: rgba(9, 89, 236, 0.35) 0px 5px 15px;
}
.scale-tools{
    animation-name: scale-tools ;
    animation-duration: .75s;
}
@keyframes scale-tools {
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1)
    }
}

.tools-cont > *{
    display: block;
    width:3.5rem
}
.pencil-tool{
    background-color: rgb(139, 218, 218);
    position:absolute;
    height:5rem;
    width:8rem;
    top: 6rem;
    left: 20vw;
    border-radius: 3px;
    box-shadow: rgba(9, 89, 236, 0.35) 0px 5px 15px;
    display: none;
}
.pencil-width{
    height:2rem;
    display:flex;
    align-items:center;
    justify-content:center;

}
.pencil-color-cont{
    height:3rem;
    display: flex;
    align-items:center;
    justify-content:center;
    gap: 1rem;
}
.pencil-color{
    width:1.5rem;
    height:1.5rem;
    border-radius: 50%;
}
.pencil-width input {
    width: 80%;
}
.black{
    background-color:black;
}
.blue{
    background-color:blue;
}
.red{
    background-color:red;
}

.eraser-tool-cont{
    background-color: rgb(139, 218, 218);
    height:3rem;
    width:6rem;
    display: none;
    align-items:center;
    justify-content:center;
    position: absolute;
    left: 30vw;
    top: 6rem;
    box-shadow: rgba(9, 89, 236, 0.35) 0px 5px 15px;
}
.eraser-tool-cont input {
    width: 80%;
}

.sticky-cont{
    height:15rem;
    width: 13rem;
    position: absolute;
    top:15rem;
    left: 10rem;
    
}
.header-cont{
    height:2rem;
    background-color: #f1f2f6;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    

}
.minimize{
    background-color:rgb(20, 221, 20);
}
.remove{
    background-color:red;
}

.header-cont>*{
    height:1.2rem;
    width:1.2rem;
    margin-left:0.5rem;
    border-radius:50%;
}
.note-cont{
    height:calc( 100% - 2rem );
    box-shadow: rgba(136, 140, 148, 0.35) 0px 5px 15px;

}

textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline:none;
    resize:none;

}
img{
    height: 100%;
    width: 100%;
}



